<phpunit bootstrap="./bootstrap.php">
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
    
    <filter>
        <whitelist>
        	<directory suffix=".php">../application/</directory>
        	<exclude>
        		<directory suffix=".phtml">../application/</directory>
        		<file>../application/Bootstrap.php</file>
        		<file>../application/controllers/ErrorController.php</file>
        	</exclude>
        </whitelist>
    </filter>
</phpunit>
